*.swp
*~
*.DS_Store
.envrc
.tool-versions

# Ignore all .pyc files from python #
#####################################
*.pyc

# Ignore config files. We do not want these tracked #
# as they include passwords and configuration       #
# information                                       #
#####################################################
config.*

# folders used in packaging?
build/
dist/
